/*About Me*/
body {
  background: url("./homepage/bgImg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  background-position: center;
  font-family: 'Lora', serif;  
  line-height: 1.6; 
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

body.light-mode .right p{
  color: white;
}


.heading {
  color: white;
  text-align: center;
  animation: fadeIn 3s ease-in-out forwards;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 6.25rem;
  padding-bottom: 9.375rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-3.125rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  text-align: center;
}

.text-left {
  margin-right: 3.75rem;
  width: auto;
  flex: 1;
  padding: 0;
  max-width: 21.875rem;
  font-size: 1rem;
  text-align: left;
}

.text-right {
  margin-left: 3.75rem;
  width: auto;
  flex: 1;
  padding: 0;
  max-width: 21.875rem;
  font-size: 1rem;
  text-align: left;
}

.profile-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.u-photo {
  width: 25rem;
  height: 31.875rem;
  object-fit: cover;
}

.url-container {
  margin-top: 1.25rem;
  display: flex;
  gap: 1.875rem;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-bottom: 0;
}

.url-container img {
  width: 2.5rem;
}

.url-container a img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.url-container a:hover img {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/*experience*/
.experience {
  padding: 8.125rem;
  padding-bottom: 10rem;
}

.entry-title {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 3.125rem;
  font-family: 'Cinzel', serif;
}

.timeline-entry {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.3125rem;
}

.left {
  width: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.star-year {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.star {
  width: 3.75rem;
}

.year {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.line {
  width: 0.0625rem;
  height: 3.75rem;
  border-left: 1px dashed #aaa;
  margin-left: 1.75rem;
}

.right {
  flex: 1;
  padding-left: 1.25rem;
}

.right h3 {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  color: white;
}

.right p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  color: #ccc;
}
/*skills*/
.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  max-width: 900px; 
  margin: 0 auto; 
  padding-bottom: 10rem;
}

.skills-grid img {
  width: 100%;
  height: auto; 
  display: block;
}
.skills-grid img:hover {
  filter: brightness(1.2) drop-shadow(0 0 0.625rem #ffffff);
  transform: scale(1.02);
}


/*links to sections*/
.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  margin: 1.25rem auto 6.25rem;
  padding: 0 0.625rem;
  max-width: 75rem;
  padding-bottom: 10rem;
}

.rectangular-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-container:hover {
  filter: brightness(1.2) drop-shadow(0 0 0.625rem #ffffff);
  transform: scale(1.02);
}


/*mobile device*/
@media (max-width: 48rem) {
  .heading {
    padding-top: 3.75rem;
    padding-bottom: 5rem;
    width: 100%;
  }

  .heading img {
    width: 50%;
  }

  .about-flex {
    flex-direction: column;
    padding: 0 1.25rem;
  }

  .text-left,
  .text-right {
    margin: 1.25rem 0;
    max-width: 100%;
    font-size: 1rem;
    text-align: center;
  }

  .u-photo {
    width: 40%;
    height: auto;
    max-width: 18.75rem;
  }

  .url-container {
    gap: 1.25rem;
    margin-top: 1.25rem;
    flex-wrap: wrap;
  }

  .url-container img {
    width: 2rem;
  }

  .experience {
    padding: 3.75rem 1.25rem;
  }

  .entry-title {
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
  }

  .timeline-entry {
    flex-direction: column;
    align-items: flex-start;
  }

  .left {
    width: auto;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.625rem;
  }

  .star {
    width: 2.5rem;
  }

  .year {
    font-size: 1rem;
  }

  .line {
    display: none;
  }

  .right {
    padding-left: 0;
  }

  .right h3 {
    font-size: 1rem;
    text-align: left;
  }

  .right p {
    font-size: 0.875rem;
  }

  .image-row {
    gap: 0.9375rem;
    padding: 0 0.625rem 6.25rem;
  }

  .rectangular-image {
    width: 100%;
    height: auto;
  }
}
