/*links to sections*/
.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  margin: 1.25rem auto;
  padding: 0 0.625rem;
  max-width: 75rem;
}

.rectangular-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-container:hover {
  filter: brightness(1.2) drop-shadow(0 0 0.625rem #ffffff);
  transform: scale(1.02);
}

h1 {
  font-size: 3rem;
  font-family: 'Cinzel', serif;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.875rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  color: white;
}

main {
  padding-bottom: 5rem;
}