
  
 
  /*Navigation*/
  .sub-menu ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  gap: 0.5rem; 
  justify-content: center; 
  align-items: center;
}

.sub-menu li {
  display: inline-block; 
}
.sub-menu img{
  width: 80%;
}
.sub-menu a:hover {
  filter: brightness(1.2) drop-shadow(0 0 10px #ffffff);
  transform: scale(1.02);
}

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
    
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
  }  
/* GENERAL LAYOUT */
main {
  max-width: 800px;
  margin: 0 auto;
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 9rem;
}

/* INTRO SECTION */
.intro .entry-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  color: #ffffff;
  font-family: 'Cinzel', serif;
}

/* ARTICLE CONTENT */
.hentry h1 {
  font-size: 2rem;
  font-family: 'Cinzel', serif;
  color: #ffffff;
}

.hentry h2 {
  font-size: 1.5rem;
  margin-top: 1.5em;
  color: #ffffff;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
   font-family: "Libre Baskerville", serif;
  font-weight: 600;
}

.hentry h3 {
  font-size: 1.25rem;
  margin-top: 1.2em;
  color: #ffffff;
  font-style: italic;
   font-family: "Libre Baskerville", serif;
  font-weight: 600;
}

.hentry p {
  margin-top: 1em;
}

/* IMAGES */
figure {
  margin: 2em 0;
  text-align: center;
}
.landscape img {
  width: 500px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;

}
figure img {
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;

}
.long-img{
  width: 150px;
}

figcaption {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #e3e3e3;
}

/* REFERENCE LIST  */
.hentry a {
  color: #ffffff;
  text-decoration: none;
}

.hentry a:hover {
  text-decoration: underline;
}


.hentry h2:last-of-type {
  margin-top: 3em;
}

.hentry .url {
  display: block;
  margin-top: 1em;
  word-wrap: break-word;
}




 
  