h1{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Cinzel', serif;
  color: white;
}
h2{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  color: white;
}
.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  margin: 1.25rem auto 6.25rem;
  padding: 0 0.625rem;
  max-width: 75rem;
}
.rectangular-image {
  padding-top: 5%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.landscape-image{
  padding-top: 15%;
}

.image-container:hover {
  transform: scale(1.02);
  cursor: pointer;
  filter: brightness(1.2) drop-shadow(0 0 0.625rem #ffffff);
}


.img-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: zoom-out;
  overflow: auto;
}

.enlarged-img {
  max-width: 70vw;
  max-height: 60vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border: 0.25rem solid rgb(46, 3, 3);
  border-radius: 0.625rem;
  box-shadow: 0 0 1.5625rem rgba(255, 255, 255, 0.3);
  margin-bottom: 1.25rem;
}

.lightbox-text {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  max-width: 43.75rem;
  padding: 0 1.25rem;
  width: 100%;
}
.lightbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 1.25rem auto;
  position: relative;
}

.lightbox-heading {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1.25rem 0 0.625rem;
  color: #bbbbbb;
}

.lightbox-paragraph {
  font-size: 1.1rem;
  color: #ffffff;
  max-width: 43.75rem;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
}
.no-scroll {
  overflow: hidden;
}


.lightbox-link {
  display: inline-block;
  margin-top: 0.9375rem;
  padding: 0.5rem 0.9375rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffe9e3;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  border: 0.0625rem solid rgba(106, 106, 106, 0.2);
}

.lightbox-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  transform: translateY(-0.125rem);
}
.itch-links{
  display: none;
}

.lightbox-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1001;
}

.lightbox-nav-button {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 2.5rem;
  height: 3.75rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-nav-prev {
  border-radius: 0 0.3125rem 0.3125rem 0;
  margin-left: -3.75rem;
  background-image: url('./images/leftArrow.png');
}

.lightbox-nav-next {
  margin-right: -3.75rem;
  border-radius: 0.3125rem 0 0 0.3125rem;
  background-image: url('./images/rightArrow.png');
}

.lightbox-wrapper {
  position: relative;
}

.lightbox-close-button {
  position: absolute;
  top: 1.25rem;
  right: 0.625rem;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.2s ease;
}

.lightbox-close-button:hover {
  transform: scale(1.1);
}

